@charset "UTF-8";
body{
    font-family: "Arsenal SC", sans-serif,Arial, Helvetica;
    font-size: 1rem;
    background-color: #F5F5F5;
    color: #605F5F;
    /* background-image: url(../images/mainvis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
}
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-image: url(../images/mainvis.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
img{
    max-width: 100%;
}


.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 45px;
}
.inner{
    max-width: 940px;
    width: 100%;
    margin: 70px auto;
    border-top: rgba(96, 95, 95, 0.3) 3px  dashed;
    border-bottom: rgba(96, 95, 95, 0.3) 3px  dashed;
    padding: 50px 0;
}
main{
    padding-top: 100px;
}

/* タイトル */
.site-title{
    margin-top: 170px;
    font-family: "Zeyada";
    color: #C8C7C7;
    font-size: 3.8rem;
    text-align: center;
    line-height: 1.5;

    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 0.8s ease-out forwards;
}
.site-title-text{
    font-size: 3.3rem;
    letter-spacing: 0.05em;

    display: block;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    animation-delay: 0.4s;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.section-title{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 40px;
    margin-right: 10px;
    text-align: left;
}
.subtitle{
    font-size: 1.25rem;
}

/* セクション共通 */
.section{
    background-color: rgba(200, 199, 199, 0.8);
    margin: 0 10px;
    border-radius: 50px;
    margin-bottom: 120px;
    scroll-margin-top: 100px;
}
.section-inner{
    display: flex;
}

/* ボタン */
.button{
    display: block;
    width:180px;
    height:50px;
    padding: 12px 0;
    margin: 0 auto;
    border-radius:10px;
    background-color:#A8A4A4;
    color:#605F5F;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    font-size:1.25rem;
    transition: 0.4s;
}
.button:hover{
    background-color: #C8C7C7;
    transition: 0.4s;
}


/* ヘッダー */
.nav{
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
    max-width: 940px;
    margin: 0 auto;
}
.nav li{
    font-weight: bold;
    font-size: 1.37rem;
    margin-left: 30px;
    transition: 0.4s;
}
.nav li:hover{
    opacity: 0.5;
    transition: 0.4s;
}

/* スクロールダウン*/
.scroll {
  margin-top: 180px;
  padding-top: 60px;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.scroll::before {
  animation: scroll 2s infinite;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;

  content: "";
  height: 20px;
  width: 20px;

  position: absolute;
  top: 0;

  left: 0;
  right: 0;
  margin: auto;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    opacity: 0;
  }
}


/* アバウト */
.about-inner{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#about img{
    border-radius: 50px;
    margin-right: 10px;
}
.about-text{
    margin: 20px auto;
    line-height: 1.5;
}
.about-ul{
    line-height: 1.5;
}

/* ワーク */
.work-text{
    display: flex;
}
.work-ul li{
    margin-bottom: 80px;
}
.work-text p{
    background-color: #F5F5F5;
    color: #605F5F;
    font-size: 0.87rem;
    border-radius: 20px;
    padding: 2px 30px;
    margin-right: 15px;
    margin-top: 10px;
}
.work-ul img{
    transition: 0.4s;
}
.work-ul img:hover{
    transform: scale(1.01,1.01);
    transition: 0.4s;
}

/* コンタクト */
.form-item label{
    font-size: 1.12rem;
    display: block;
    margin-bottom: 8px;
}
.form-item input,
.form-item textarea{
    box-sizing: border-box;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.form-item input{
    height: 40px;
}
.form-item textarea{
    height: 120px;
    resize:none;
}
.form-item{
    margin-top: 30px;
}
.form-item input:focus,
.form-item textarea:focus{
    outline:none;
    border:1px solid #605F5F;
}
#contact .button{
    margin-top: 50px;
}

/* サンクスページ */
.thanks-text{
    text-align: center;
    font-size: 1.2rem;
    line-height: 3;
    margin-bottom: 55px;
}

/* フッター */
#footer .copy{
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 30px;
}

/* ワークページ */
.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-list li{
    width: 48%;
}

/* ポートフォリオページ */
.portfolio-text{
    margin: 30px auto;
}
.portfolio-link{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.5;
}
.portfolio-link a{
    transition: 0.4s;
}
.portfolio-link a:hover{
    color: #A8A4A4;
    transition: 0.4s;
}
/* タブ */
.tab-buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tab-button {
  padding: 10px 50px;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
}
.tab-button.active {
  background-color: #605F5F;
  color: #F5F5F5;
  border-color: #605F5F;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;

}

.tab-content img {
  width: 100%;
  height: auto;
  display: block;
}
.tab-contents #sp img{
   max-width: 55%;
}


@media screen and (max-width:850px) {
    .nav ul{
        justify-content: center;
    }
    .nav li:first-child{
        margin-left: 0;
    }


    /* アバウト */
    .about-inner{
        flex-direction: column;
    }
    
    #about img{
        margin: 0 auto 30px auto;
    }
    #about .subtitle{
        text-align: center;
    }

    /* ワークページ */
    .work-list li{
        width: 100%;
    }
    
    /* ポートフォリオページ */
    /* タグ */
    .tab-contents #sp img{
        max-width: 80%;
    }
}
@media screen and (max-width:500px) {
    body::before{
        background-size: 80%;
    }
    .site-title{
        font-size: 2.3rem;
        line-height: 1.4;
    }
    .site-title-text{
        font-size: 1.8rem;
    }
}